# Citlivá data – NIKDY nekomitnout
*.csv
*.xlsm
*.xlsx
*hesly*
*hesla*
*passwords*
generuj_spravci.html
nastavit_heslo.html
nastavit_heslo.py
sms_log.txt
service-account-key.json
send_push.py

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
nastavit_heslo.html
nastavit_heslo.py
sms_log.txt
hesla.csv
